@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2);
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-700.woff2);
  font-display: swap;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #FFFFFF;
}

/*header styles*/
.page-header {
  color: #000000;
  background: #FFE17F;
}

.nav-user-link {
  color: inherit;
  line-height: 30px;
  font-weight: 400;
  text-decoration: none;
}

.nav-link {
  color: inherit;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
}

/*main index.html styles*/

.slogan {
  color: #000000;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.description {
  font-weight: 400;
}

.btn {
  color: #000000;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
}


.main-categories-item-img {
  background-color: #FFE17F;
}
.main-categories-item-link {
  color: #000000;
  font-weight: 800;
  text-decoration: none;
}

.services-link {
  color: #000000;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.services-link-current {
  color: #FFE17F;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.slider-title {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.delivery-description {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
}

.main-info-title {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.contacts-address {
  color: #444444;
  font-style: normal;
}

.contacts-phone {
  color: #444444;
}

.company-list {
  color: #000000;
  font-weight: 700;
  line-height: 20px;
}

.info-buttons {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.contacts-title {
  font-weight: 700;
  font-size: 24px;
}

.subscribe-title {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

/*main calatog.html styles*/

.main-inner {
  background: #F0F0F0;
}

.inner-header {
  background: #FFFFFF;
}

.breadcrumbs-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.inner-header-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.filter-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.catalog-filter-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.catalog-filter-item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.product-link {
  text-decoration: none;
}

.product-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.product-price {
  line-height: 21px;
  text-align: right;
}

.load-more {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination-link {
  color: #444444;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  opacity: 0.3

}

.pagination-prev, .pagination-next {
  font-family: "Raleway", sans-serif;
  color: #444444;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-prev {
  opacity: 0.3;
}

.pagination-next {
  color: #000000;
}

.pagination-current {
  opacity: 0.6
}

/* footer styles */

.main-footer {
  background: #444444;
  color: #FFFFFF;
}

.footer-address-text {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
}

.footer-menu-title {
  font-weight: 800;
  font-size: 18px;
}

.footer-menu-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.footer-address-link {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
