@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

/*basic styles*/
html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0;
  padding-top: 40px;
}

button {
  cursor: pointer;
}

.clear-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.product-container {
  width: 760px;
  margin: 0 auto;
}

/*header styles*/

.index-head-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1040px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 150px;
}

.catalog-header-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1040px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 20px;
  margin-bottom: 35px;
}

.page-header {
  background: #FFE17F;
  color: #000000;
}

.header-logo {
  display: block;
  margin-top: -20px;
  margin-bottom: 30px;
}

.header-logo-link {
  display: block;
  margin-top: -20px;
  margin-bottom: 30px;
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.header-logo:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: -1px;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.navigation-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 517px;
  margin-right: 26px;
}

.search-and-user-container {
  display: flex;
  justify-content: space-between;
  width: 1040px;
  margin: 0  auto;
  margin-bottom: 30px;
}

.nav-search-form {
  align-items: center;
  display: flex;
}

.search-input-container {
  width: 359px;
  display: flex;
  align-items: center;
  background-image: url(../images/icons/search-icon.svg);
  background-repeat: no-repeat;
  background-position: 16px;
  border: solid 2px transparent;
  outline: solid 2px transparent;
}

.search-input-container:focus-within {
  border: solid 2px transparent;
  outline: solid 2px #AF4FFF;
  z-index: 1;
}

.nav-search-input {
  position: relative;
  background: none;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
  padding-left: 48px;
  border: solid 2px black;
  border-radius: 25px 0 0 25px;
  width: 359px;
  flex-grow: 1;
}

.nav-search-input::placeholder {
  color: #000000;
  opacity: 0.3;
}

.nav-search-input:placeholder-shown {
  color: #000000;
  background-color: transparent;
  outline: none;
}

.search-button-container {
  border: solid 2px transparent;
  margin-left: -6px;
}

.search-button-container:focus-within {
  border: solid 2px transparent;
  outline: solid 2px #AF4FFF;
  z-index: 1;
}


.nav-search-button {
  border: 2px solid #000000;
  border-radius: 0 25px 25px 0;
  width: 160px;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background: none;
  padding: 10px 56px;
  outline: solid 2px transparent;
}

.nav-search-button:hover {
  transition: 0.5s;
  background: #000000;
  color: #FFFFFF;
}

.nav-search-button:active .button-text {
  color: #FFFFFF;
  opacity: 0.3;
  transition: 0.5s;
}

.nav-search-button:disabled {
  opacity: 0.3;
}

.nav-links-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 497px;
}

.nav-login-link::before {
  content: url("../images/icons/enter.svg");
  padding-right: 12px;
}

.nav-compare-link::before {
  content: url("../images/icons/compare.svg");
  padding-right: 12px;
}

.nav-basket-button {
  display: flex;
  align-items: center;
}

.number-two-icon {
  display: block;
  padding-right: 12px;
}

.nav-link-button {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  border: none;
  background: none;
  padding: 6px 4px;
  margin-right: -4px;
}

.nav-links-item:first-child {
  flex-grow: 1;
}

.exit-link-span {
  opacity: 0.3;
  padding-left: 28px;
}

.nav-links-item:nth-child(2){
  margin-right: 18px;
}

.nav-links-item a {
  color: #000000;
  text-decoration: none;
  padding: 6px 4px;
}


.nav-link:hover {
  opacity: 0.6;
}

.nav-link:active {
  opacity: 0.3;
}

.nav-user-link:focus-visible {
  outline: 2px solid #AF4FFF;
}

.nav-log-off {
  margin-left: 26px;
}

.nav-compare {
  margin-left: auto;
}

.nav-user-compare svg {
  margin-right: 9px;
}

.nav-basket {
  position: relative;
  margin-left: 26px;
}

.nav-basket::before {
  content: "2";
  position: absolute;
  width: 21px;
  height: 21px;
  background: #FFFFFF;
  border-radius: 50%;
}

.dropdown-and-advantages-container {
  display: flex;
  justify-content: space-between;
  width: 1040px;
}

.navigation-dropdown {
  display: flex;
  position: relative;
}

.navigation-links-button {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  border: none;
  background: none;
  padding: 6px 4px;
  margin-right: -4px;
}

.navigation-dropdown-input {
  display: none;
}

.navigation-dropdown-button {
  position: relative;
  display: flex;
  height: 50px;
  align-items: center;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color:#000000;
  margin: auto;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 2;
}

.navigation-dropdown-button::after{
  content: url("../images/icons/plus-dropdown.svg");
  padding-left: 7px;
  opacity: 0.3;
}

.navigation-dropdown-button:hover::after{
  opacity: 1;
}

.navigation-dropdown-input:checked ~ .navigation-dropdown-list-container  {
  opacity: 1;
  display: block;
}

.navigation-dropdown-input:checked ~ .navigation-dropdown-button::after {
  content: url("../images/icons/minus-dropdown.svg");
}

.navigation-dropdown-list-container {
  position: absolute;
  left: -60px;
  top: 31px;
  z-index: 1;
  display: none;
}

.navigation-dropdown-list {
  display: grid;
  width: 1100px;
  height: 180px;
  grid-template-columns: 222px 211px 211px;
  padding-left: 60px;
  padding-top: 33px;
  background-color: #FFE17F;
}

.navigation-dropdown-link {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
}

.navigation-dropdown-link:hover {
  opacity: 0.6;
}

.navigation-dropdown-link:active {
  opacity: 0.3;
}

.advantages-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.advantages-item {
  margin-left: 45px;
}

.advantages-item:last-child {
  margin-right: -10px;
}

.advantages-link {
  color: #000000;
  font-family: "Raleway", Arial, sans-serif;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  padding: 4px 4px;
  margin: 0;
}

.advantages-link:hover {
  opacity: 0.6;
}

.advantages-link:active {
  opacity: 0.3;
}

/*header styles*/

/*main styles*/

.promo-slider {
  margin-bottom: 70px;
}

.slider-wrapper {
  position: relative;
}

.slider-img {
  display: block;
  margin-top: -120px;
}

.slider-control {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 25%;
  width: 100%;
  transform: translateY(-50%);
}

.slider-button {
  width: 20px;
  height: 60px;
  padding: 0;
  border: none;
  background-image: url(../images/icons/slider-arrow.svg);
  background-color: #FFFFFF;
  cursor: pointer;
}

.slider-prev {
  margin-left: 30px;
  transform: rotate(180deg);
}

/* .slider-next {
} */

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: -1px;
}

.slider-button:active {
  outline: none;
  opacity: 0.3;
}

.slider {
  display: flex;
  position: relative;
  z-index: 0;
  margin-top: -30px;
}

.slider-1::before {
  content: "01";
  position: absolute;
  font-family: "Rubik", Arial, sans-serif;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  right: 50px;
  top: -40px;
  color: #FFFFFF;
  z-index: -1;
}

.slider-2::before {
  content: "02";
  position: absolute;
  font-family: "Rubik", Arial, sans-serif;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  right: 50px;
  top: -40px;
  color: #FFFFFF;
  z-index: -1;
}

.slider-3::before {
  content: "03";
  position: absolute;
  font-family: "Rubik", Arial, sans-serif;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  right: 50px;
  top: -40px;
  color: #FFFFFF;
  z-index: -1;
}

.advantages-title {
  display: block;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 30px;
}

.advantages-text {
  color: #444444;
  margin-bottom: 0;
}

.advantages-wrapper {
  width: 560px;
  margin-left: 40px;
}

.advantages-btn {
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 10px 35px;
}

.crossing {
  position: relative;
  cursor: pointer;
  z-index: 0;
}

.crossing::before {
  position: absolute;
  content: "";
  background-color: #ffe17f;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  width: 100%;
  height: 8px;
  z-index: -1;
}

.crossing:hover {
  background-color: #FFE17F;
  transition: 0.2s ease;
}

.crossing:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: -1px;
}

.crossing:active:not(:disabled),
.crossing:active:not(:disabled)::before {
  background-color:#ffcc33;
  transition: 0.2s ease;
}

.crossing:disabled {
  opacity: 0.3;
  cursor: auto;
}

.advantages {
  display: flex;
  gap: 20px;
}

.advantages-value {
  display: flex;
  order: 2;
  font-size: 36px;
  margin-bottom: 12px;
}

.advantages-description {
  color: #444444;
}

.btn {
  color: #000000;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background: none;
  border: none;
  letter-spacing: 0.2em;
}

.main-categories {
  margin-bottom: 70px;
}

.main-categories-item-link {
  display: block;
  color: #000000;
  text-decoration: none;
  letter-spacing: -0.02em;
}

.main-categories-item-name {
  margin: 0;
  padding-top: 33px;
  padding-bottom: 13px;
  width: 160px;
  letter-spacing: -0.02em;
  font-size: 18px;
  font-family: "Raleway", Arial, sans-serif;
  line-height: 24px;
}

.main-categories-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
}

.main-categories-item-link::before {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  background-color: #ffe17f;
}

.main-categories-item-link:hover::before {
  background-color: #ffc700;
}

.main-categories-item-link:active {
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.main-categories-item-link:focus-visible,
.main-categories-item-link-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.main-categories-item-vr::before {
  background-image: url(../images/icons/virtual-reality.svg);

}

.main-categories-item-monopod::before {
  background-image: url(../images/icons/selfie-monopod.svg);

}

.main-categories-item-action-camera::before {
  background-image: url(../images/icons/action-camera.svg);
}

.main-categories-item-fitness-bracelet::before {
  background-image: url(../images/icons/fitness-bracelet.svg);
}

.main-categories-item-smart-watch::before {
  background-image: url(../images/icons/smart-watch.svg);
}

.main-categories-item-quadrocopter::before {
  background-image: url(../images/icons/quadrocopter.svg);
}

.slider-pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.slider-pagination-item {
  margin: 0 10px;
}

.slider-pagination-button {
  height: 12px;
  width: 12px;
  border: none;
  background-color:#FFFFFF;
  position: relative;
  cursor: pointer;
}

.slider-pagination-button::after {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: #FFFFFF;
  left: 0;
  top: 0;
  box-sizing: border-box;
}

.slider-pagination-button:hover {
  opacity: 0.6;
  transition: 0.4s;
}

.slider-pagination-button:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.slider-pagination-button:active {
  opacity: 0.3;
}

.slider-pagination-button:disabled {
  opacity: 0.1;
  cursor: default;
}

.slider-pagination-button-current::after {
  position: absolute;
  content: " ";
  height: 12px;
  width: 12px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: #000000;
  left: 0;
  top: 0;
  box-sizing: border-box;
}

.services-slider {
  background: #F0F0F0;
  margin-bottom: 70px;
}

.slider-text {
  color: #444444;
}

.services-link-current {
  color: #FFE17F;
}

.services-slider-wrapper {
  display: flex;
  align-self: center;

}

.services-description {
  width: 694px;
}

.slider-title {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
}

.delivery {
  background: #F0F0F0;
  margin-bottom: 70px;
}

.delivery-button {
  position: relative;
  width: 1160px;
  padding: 40px 0;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

.delivery-button::before {
  position: absolute;
  content: "";
  background-color: #FFE17F;
  width: 125px;
  height: 100%;
  background-image: url(../images/icons/delivery-car.svg);
  background-repeat: no-repeat;
  background-position: center center;
  top: 0;
  left: 0;
}

.delivery-button::after {
  position: absolute;
  content: "";
  width: 125px;
  height: 100%;
  background-image: url(../images/icons/info.svg);
  background-repeat: no-repeat;
  background-position: center center;
  top: 0;
  right: 0;
  opacity: 0.3;
}

.delivery-button:hover.delivery-button::before {
  background-color: #FFC700;
  transition: 0.3s ease;
}

.delivery-button:hover.delivery-button::after {
  opacity: 1;
  transition: 0.3s ease;
}

.delivery-button:active {
  opacity: 0.3;
  transition: 0.3s ease;
}

.delivery-button:focus-visible {
  outline:2px solid #AF4FFF;
  outline-offset: 2px;
}

.main-info {
  display: flex;
  margin-bottom: 70px;
}

.main-info-title {
  position: relative;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 45px;
}

.main-info-title::before {
  position: absolute;
  content: "";
  background-color: #000000;
  width: 84px;
  height: 7px;
  left: 0;
  top: -40px;
}

.main-info-link {
  padding: 10px 25px;
}

.about-us-text {
  margin-bottom: 30px;
  color: #444444;
}

.company-list {
  margin-bottom: 30px;
}

.company-item:not(:last-child) {
  margin-bottom: 19px;
}

.company-item {
  padding-left: 20px;
}

.company-item::marker {
  color: #FFC700;
}

.contacts-wrapper{
  margin-left: 108px;
}

.contacts-text {
  margin-bottom: 30px;
  color: #444444;
}

.contacts-title {
  margin-bottom: 30px;
}

.contacts-address {
  font-style: normal;
  margin-bottom: 30px;
}

.contacts-address-text {
  margin: 0;
  color: #444444;
}

.contacts-phone {
  color: #444444;
}

.company-list {
  line-height: 20px;
  padding-left: 20px;
}

.contacts-title {
  color: #444444;
  font-size: 24px;
}

.contacts-schedule-list {
  margin-bottom: 30px;
}

.contacts-schedule-item {
  color: #444444;
}

.subscribe {
  background: #F0F0F0;
}

.subscribe-container {
  padding-top: 64px;
  padding-bottom: 56px;
}

.subscribe-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 144px;
}

.subscribe-form-wrapper {
  display: flex;
  align-items: center;
}


.subscribe-title {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
}

.subscribe-text {
  color: #444444;
  width: 565px;
  margin: 0;
}

.subscribe-form {
  display: flex;
}

.subscribe-field {
  width: 557px;
  height: 61px;
  border: none;
  background: #F0F0F0;
  border-bottom: 3px solid #C4C4C4;
}

.subscribe-field:focus-visible {
  outline: none;
}

.subscribe-button {
  cursor: pointer;
  padding: 18px 39px;
  border: 3px solid #C4C4C4;
}

.subscribe-crossing:hover {
  background-color: #000000;
  border: 3px solid #000000;
  color: #FFFFFF;
  transition: 0.2s ease;
}

.subscribe-crossing:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: -1px;
}

.subscribe-crossing:active {
  border: 3px solid #C4C4C4;
}

.subscribe-crossing:hover:active .subscribe-button-text {
  opacity: 0.3;
  transition: 0.2s ease;
}

.subscribe-sign {
  position: relative;
  color: #444444;
  margin-left: auto;
}

.subscribe-sign::before {
  position: absolute;
  content: "";
  background-image: url(../images/icons/its-free.svg);
  width: 16px;
  height: 16px;
  top: 6px;
  left: -26px;
}

.catalog-header {
  background-color: #ffe17f;
  margin-bottom: 35px;
}

.breadcrumbs-header {
  margin-bottom: 34px;
  background: #FFFFFF;
}

.breadcrumbs-wrapper {
  margin-left: 60px;
}

.breadcrumbs-title {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 16px;
}

.breadcrumbs-list {
  display: flex;
}

.breadcrumbs-item {
  margin-right: 36px;
  position: relative;
}

.breadcrumbs-item:not(:first-child)::before {
  position: absolute;
  content: url("../images/icons/breadcrumbs-icon.svg");
  left: -20px;
  top: -7px;
}

.breadcrumbs-link {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.products {
  background: #F0F0F0;
}

.products-wrapper {
  display: flex;
}

.filter-title {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-title {
  position: relative;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
  padding: 0;
}

.catalog-filter-title::before {
  position: absolute;
  content: "";
  background-color: #000000;
  width: 200px;
  height: 2px;
  top: -12px;
}

.catalog-filter-item {
  font-size: 16px;
  line-height: 20px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 17px;
}

.filter-btn {
  padding-left: 60px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.product-cards {
  width: 840px;
}

.cards-filter-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
}

.cards-filter-title {
  margin: 0;
}

.select-control {
  font-family: "Rubik", Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  border: none;
  background: #F0F0F0;
}

.product-main {
  width: 840px;
  background: #FFFFFF;
  padding-bottom: 78px;
}

.product-main-wrapper {
  margin: auto 0;
}

.products-filter {
  width: 320px;
  margin-left: 60px;
}

.products-filter-title {
  padding: 25px 0;
  margin-top: 0;
  margin-bottom: 35px;
}

.catalog-filter-group {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  border: none;
}

.product-list {
  display: grid;
  padding-top: 70px;
  grid-template-columns: 360px 360px;
  column-gap: 40px;
  row-gap: 44px;
  padding-bottom: 44px;
}

.product-title {
  color: #000000;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  max-width: 226px;
  margin: 0;
}

.product-link {
  text-decoration: none;
}

.product-img {
  margin-bottom: 32px;
}

.product-text {
  display: flex;
  justify-content: space-between;
}

.product-price {
  color: #444444;
  line-height: 21px;
  text-align: right;
}

.load-more-btn {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 3px solid #E5E5E5;
  background: #FFFFFF;
  padding-top: 18px;
  padding-bottom: 18px;
  width: 760px;
  margin-bottom: 44px;
  cursor: pointer;
}

.load-more-crossing:hover {
  border: 3px solid #000000;
  transition: 0.2s ease;
}

.load-more-crossing:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.load-more-crossing:active {
  opacity: 0.3;
}

.load-more-crossing:disabled {
  opacity: 0.6;
}

.subscribe-crossing:hover:active .subscribe-button-text {
  opacity: 0.3;
  transition: 0.2s ease;
}

.pagination-list-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #EBEBEB;
}

.pagination-btn {
  padding: 25px;
}

.pagination-btn:hover {
  background-color: #DCDCDC;
  transition: 0.5s ease;
}

.pagination-btn:active {
  color: #9a9a9a ;
  transition: 0.5s ease;
}

.pagination-btn:focus-visible {
  outline: 2px solid #AF4FFF;
}
.pagination-list-pages {
  display: flex;
  align-items: center;
}

.pagination-link {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  padding-top: 20px;
  color: #444444;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  opacity: 0.3;
  cursor: pointer;
}

.pagination-link:hover {
  opacity: 1;
  transition: 0.3s ease;
}

.pagination-link:active {
  opacity: 0.1;
  transition: 0.3s ease;
}

.pagination-link:focus-visible {
  outline: 2px solid #AF4FFF;
}

.pagination-prev,
.pagination-next {
  font-family: "Raleway", Arial, sans-serif;
  color: #444444;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-prev {
  opacity: 0.3;
}

.pagination-next {
  color: #000000;
}

.pagination-current {
  opacity: 0.6
}

/* footer styles */
.footer-wrapper {
  padding-top: 62px;
  padding-bottom: 61px;
}

.main-footer {
  background: #444444;
  color: #FFFFFF;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 35px;
  margin-bottom: 62px;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-social::before {
  content: "";
  background-color: #FFC700;
  width: 80px;
  height: 7px;
}

.footer-menu-list {
  display: flex;
  gap: 25px;
}

.footer-address-text {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  margin: 0;
}

.footer-menu-link {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  color: #FFFFFF;
}

.footer-address-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.footer-social-list {
  display: flex;
  margin-left: 84px;
  gap: 15px;
}





.focus-visible-outline:focus {
  outline: solid 2px #AF4FFF;
}

/* Улучшение через директиву @supports */
@supports selector(:focus-visible) {

  /* Убираем фокус у элементов */
  .focus-visible-outline:focus {
    outline: none;
  }

  /* Задаём видимый фокус у элементов */
  .focus-visible-outline:focus-visible {
    outline: solid 2px #AF4FFF;
  }
}
